.display-board {
    width: 100%;
    background-color: rgb(193, 236, 112);
    padding: 5%;
    }
  
    .number {
    color: red;
    font-size: 75px;
    text-align: center;
    }

    .btn{
        padding: 0.5em;
        background-color: rgb(238, 128, 128);
        color: white;
        border-radius: 2em;
    }